.checkbox-menu li label {
    display: block;
    padding: 12px;
    clear: both;
    color: #333;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
    transition: all 0.5s;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: -1px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: lightgray;
    font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: lightgray;
    color: white;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: lightgray;
}